$primaryColor: #f10263;
$bgDarkColor: #1a1414;
$bgLightColor: #1c1616;
$white: #fff;
$black: #000000;
$grey: #b8b8b8;
$greyText: #c1c1c1;
$deepPrimary: #e2000066;
$deepGrey: #363636;
$footerBg: #151313;
$footerText: #828282;
