@import "_color.scss";
@import "../../mixins/mixins.scss";

.hero-section {
  @include widthandheight(100%, auto);
  @include flex(center, center);
  .pageline-div {
    @include pagelineAnim;
  }
  .hero-dark {
    @include widthandheight(100%, 100vh);
    @include flex(center, center);
    padding: 0 12%;
    gap: 100px;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0%;
    }

    .hero-text {
      width: 85%;
      @include flex(flex-start, center);
      flex-direction: column;
      .namegradient {
        background-image: radial-gradient(
          circle at 250%,
          #f10262 50%,
          #ffffff33 80%,
          #9c8f94 85%,
          #b44c75 60%
        );
        @include textGradient;
        font-size: 5rem;
        position: relative;
        left: -10%;
      }
      .hero-h1 {
        color: $white;
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 0.0125rem;
        font-weight: bold;
        @media (max-width: 768px) {
          font-size: 2.2rem;
          margin-bottom: 20px;
        }
      }
      p {
        color: $white;
        padding: 16px 0;
        width: 60%;
        font-weight: bold;
        font-size: 1.2rem;
        @media (max-width: 768px) {
          font-size: 14px;
          margin: 0;
        }
      }
      .techiconsdiv {
        padding-top: 100px;
        h1 {
          color: $grey;
          font-size: 1.8rem;
          background-image: radial-gradient(
            circle at 250%,
            #62555a 50%,
            #ffffff33 80%,
            #9c8f94 85%
          );
          @include textGradient;
        }
      }
      // .hand {
      //   animation: hello 3s ease infinite;
      //   transform-origin: 70% 70%;
      //   width: 5%;
      //   @media screen and (max-width: 768px) {
      //     width: 4%;
      //   }
      // }
    }
  }
  .hero-btn {
    // // @include flex(flex-start, center);
    // @media screen and (max-width: 768px) {
    //   flex-direction: column-reverse;
    // }
    p {
      padding-left: 20px;
      @media screen and (max-width: 768px) {
        padding-left: 0px;
      }
    }
  }
}

// @keyframes hello {
//   0% {
//     transform: rotate(0deg);
//   }
//   10% {
//     transform: rotate(14deg);
//   }
//   20% {
//     transform: rotate(-8deg);
//   }
//   30% {
//     transform: rotate(14deg);
//   }
//   40% {
//     transform: rotate(10deg);
//   }
//   50% {
//     transform: rotate(-4deg);
//   }
//   60% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
