@import "../../../color";
@import "../../mixins/mixins.scss";

.hero-section {
  @include widthandheight(100%, 100vh);
  @include flex(center, center);
  .pageline-div {
    @include pagelineAnim;
  }
  @media screen and (max-width: 768px) {
    @include widthandheight(100%, 100%);
  }
  .hero-dark {
    @include widthandheight(100%, 100vh);
    @include flex(center, center);
    padding: 0 15%;
    position: relative;
    @media screen and (max-width: 768px) {
      @include widthandheight(100%, 100%);
      flex-direction: column;
      padding: 15% 6%;
    }

    .hero-text {
      width: 100%;
      @include flex(flex-start, center);
      flex-direction: column;
      @media (max-width: 768px) {
        width: 100%;
      }
      .namegradient {
        background-image: radial-gradient(
          circle at 250%,
          #f10262 50%,
          #ffffff33 80%,
          #9c8f94 85%,
          #b44c75 60%
        );
        @include textGradient;
        font-size: 6rem;
        position: relative;
        left: -10%;

        @media (max-width: 1024px) {
          font-size: 5rem;
        }
        @media (max-width: 768px) {
          width: 100%;
          font-size: 2.25rem;
          left: 0;
        }
      }
      .hero-h1 {
        color: $white;
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: 0.0125rem;
        font-weight: bold;

        @media screen and (max-width: 1024px) {
          font-size: 3.4rem;
          line-height: 5.4rem;
        }
        @media (max-width: 768px) {
          font-size: 1.9rem;
          line-height: 2.4rem;
        }
        @media (max-width: 360px) {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
      p {
        color: $white;
        margin: 26px 0;
        width: 60%;
        font-weight: bold;
        font-size: 1.2rem;
        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
          margin: 16px 0;
          width: 100%;
          line-height: 1.2rem;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
      .techiconsdiv {
        padding-top: 100px;
        h1 {
          color: $grey;
          font-size: 2rem;
          background-image: radial-gradient(
            circle at 250%,
            #62555a 50%,
            #ffffff33 80%,
            #9c8f94 85%
          );
          @include textGradient;
          @media screen and (max-width: 768px) {
            font-size: 1.4rem;
          }
        }
        img {
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
      // .hand {
      //   animation: hello 3s ease infinite;
      //   transform-origin: 70% 70%;
      //   width: 5%;
      //   @media screen and (max-width: 768px) {
      //     width: 4%;
      //   }
      // }
    }
  }
  .hero-btn {
    p {
      padding-left: 20px;
      @media screen and (max-width: 768px) {
        padding-left: 0px;
      }
    }
  }
}

// @keyframes hello {
//   0% {
//     transform: rotate(0deg);
//   }
//   10% {
//     transform: rotate(14deg);
//   }
//   20% {
//     transform: rotate(-8deg);
//   }
//   30% {
//     transform: rotate(14deg);
//   }
//   40% {
//     transform: rotate(10deg);
//   }
//   50% {
//     transform: rotate(-4deg);
//   }
//   60% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
