$peachprimary: #D7AD9D;
$peachlight: #D9C6C0;
$lightblue: #D0DBF8;
$greyprimary: #C3C3C3;
$white: #ffffff;
$projectcolor: #3F3F3F;

@import '../../mixins/mixins.scss';


#uiux-section{
    @include widthandheight;
    background-image: linear-gradient(to bottom, rgba(24, 23, 23, 0.911), rgba(22, 21, 21, 0.911)), url("../../Assets/uiux-img.jpg");
    @include background;
}
#wordpress-section{
    @include widthandheight;
    background-image: linear-gradient(to bottom, rgba(24, 23, 23, 0.911), rgba(22, 21, 21, 0.911)), url("../../Assets/elementor.png");
    @include background;  
}

.main-section{
   @include widthandheight;
    background-image: linear-gradient(to bottom, rgba(24, 23, 23, 0.911), rgba(22, 21, 21, 0.911)), url("../../Assets/Web-development.jpg");
    @include background;
    @media screen and (max-width: 768px) {
      height: 90vh;
    }
    .hero{
        @include widthandheight;
        .back{
            @include back(20%);
            font-size: 24px;
        }
        .hero-text{
          color: white;
          width: 45%;
          position: absolute;
          top: 30%;
          left: 17%;
          @media screen and (max-width: 768px) {
              width: 90%;
              height: 100%;
              left: 0;
              margin: 0 25px;
          }
          .underline{
              @include line(-15px);
          }
          h1{
             @include headings(15px);
              @media screen and (max-width: 768px) {
                width: 90%;
            }
            }
            p{
                line-height: 1.5;
                margin-top: 23px;
            }
        }
    }
}

.project-section{
   height: 100vh;
   @media screen and (max-width: 768px) {
    padding: 50px 0px;
   }
   .title{
     @include flex(center, flex-start);
     padding: 25px 50px;
       .line{
     width: 80px;
     height: 4px;
     background-color: $peachlight;
       }
       .text{
           font-size: 24px;
           color: $projectcolor;
       }
   }
   .projects{
    padding: 25px 50px;
    @media screen and (max-width: 768px) {
        padding: 25px 30px;
    }
       .project-1{
         @include flex(center, center);
          @media screen and (max-width: 768px) {
            flex-direction: column;  
           
          }
           .project-img{
              flex: 1;
              border: 30px solid rgba(190, 192, 74, 0.774);
              margin-right: 40px;
              cursor: pointer;
              @media screen and (max-width: 768px) {
                border: 20px solid $peachlight;
                margin-bottom: 30px;
                margin-right: 5px;
              }
              img{
                  max-width: 100%;
              }
           }
           #img-2{
            border: 30px solid rgb(164, 219, 217);
            @media screen and (max-width: 768px) {
                border: 20px solid $lightblue;
              }
          }  
        
           .project-text{
              flex: 1;
              margin-left: 30px;
              .project-h1{
                  font-size: 28px;
               @media screen and (max-width: 768px) {
                font-size: 24px;
                margin: 10px 0;
               }
            }
              @media screen and (max-width: 768px) {
                margin-left: 0;
            }
              ul{
                  padding: 16px 0;
                  li{
                      display: inline;
                      margin-right: 10px;
                      font-family: 'Noto Serif', serif;
                      font-weight: bold;
                  }
              }
              .links{                
                  .livelink{
                  display: flex;
                  flex-direction: column;
                
                .link{
                  display: inline-flex;
                  margin: 4px 0;
                    p{
                        color: $peachprimary;
                        font-weight: bold;
                        text-decoration: underline;
                        text-decoration-color: $peachprimary;
                      }
                      img{
                        max-width: 5%;
                        margin-left: 10px;
                    }
                   }
                }
              }
           }
       }
   }
}

/*
.panel{
display: flex;
height: 100vh;

&:nth-child(1){
    width: 100%;
    background-color: $greyprimary;
}
&:nth-child(2){
    width: 100%;
    background-color: $projectcolor;
}
&:nth-child(3){
    width: 100%;
    background-color: $lightblue;
}
}
*/