@import "/color";

@import "../../mixins/mixins.scss";

.main-section {
  @include widthandheight(100%, 50vh);

  @media screen and (max-width: 1024px) {
    @include widthandheight(100%, 37vh);
  }
  @media screen and (max-width: 768px) {
    @include widthandheight(100%, 42vh);
  }
  @media screen and (device-width: 280px) {
    @include widthandheight(100%, 57vh);
  }

  .pageline-div {
    @include pagelineAnim;
  }
  .hero {
    .hero-text {
      color: $white;
      width: 45%;
      position: absolute;
      top: 30%;
      left: 10%;

      @media screen and (max-width: 1024px) {
        width: 80%;
        top: 22%;
      }
      @media screen and (max-width: 768px) {
        width: 90%;
        height: 100%;
        left: 0;
        top: 22%;
        margin: 0 28px;
        font-size: 0.8rem;
      }
      .underline {
        @include line(-15px);
      }
      h1 {
        @include headings(15px);
        @media screen and (max-width: 768px) {
          width: 90%;
        }
      }
      p {
        line-height: 1.5;
        margin-top: 23px;
      }
    }
  }
}

.project-section {
  height: 100%;
  .loadBtn {
    @include loadmore;
  }
  .title {
    @include flex(center, flex-start);
    margin-top: 30px;
    padding: 0px 140px;
    @media screen and (max-width: 1024px) {
      padding: 0px 80px;
      margin-top: 0px;
    }
    @media screen and (max-width: 768px) {
      padding: 0px 30px;
      margin-top: 0px;
    }
    .line {
      width: 80px;
      height: 4px;
      background-color: $primaryColor;
      @media screen and (max-width: 768px) {
        width: 60px;
      }
    }
    .text {
      font-size: 1.4rem;
      color: $white;
      font-weight: bold;
    }
  }
  .projects {
    padding: 35px 140px;
    @media screen and (max-width: 1024px) {
      padding: 25px 80px;
    }
    @media screen and (max-width: 768px) {
      padding: 25px;
    }

    .project-1 {
      @include flex(center, space-between);
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .project-img {
        flex: 1;
        border: 2px solid rgba(243, 239, 229, 0.705);
        border-radius: 5px;
        margin-right: 40px;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
          margin-bottom: 40px;
        }
        @media screen and (max-width: 768px) {
          border: 2px solid rgba(243, 239, 229, 0.705);
          margin-bottom: 30px;
          margin-right: 5px;
        }

        img {
          max-width: 100%;
          // @include widthandheight(300px, 200px);
        }
      }
      #img-2 {
        border: 30px solid rgb(164, 219, 217);
        @media screen and (max-width: 768px) {
          border: 20px solid $grey;
        }
      }

      .project-text {
        flex: 1;
        margin-left: 30px;
        //@include widthandheight(300px, 200px);
        @media screen and (max-width: 1024px) {
          margin-left: 0px;
        }
        p {
          color: $greyText;
          font-size: 0.9rem;
          @media screen and (max-width: 768px) {
            font-size: 0.8rem;
            line-height: 1.2rem;
          }
        }
        .project-h1 {
          color: $white;
          font-size: 1.5rem;
          font-weight: bold;
          @media screen and (max-width: 768px) {
            font-size: 1.3rem;
            margin: 5px 0;
          }
        }
        @media screen and (max-width: 768px) {
          margin-left: 0;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          padding: 16px 0;
          @media screen and (max-width: 768px) {
            flex-wrap: wrap;
          }
          .btngrey {
            margin-right: 10px;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: bold;
          }
        }
        .links {
          .livelink {
            display: flex;
            padding: 20px 0;
            .link {
              // display: inline-flex;
              margin-right: 8px;
              a {
                font-weight: bold;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

//Ui/Ux card section
#uiux-section {
  @include widthandheight(100%, 50vh);
  @media screen and (max-width: 768px) {
    @include widthandheight(100%, 30vh);
  }
  @media screen and (max-width: 1024px) {
    @include widthandheight(100%, 30vh);
  }
  @include background;
  .pageline-div {
    @include pagelineAnim;
  }
}
.card-section {
  min-height: 100vh;
  padding: 50px 90px;
  @media screen and (max-width: 1024px) {
    padding: 50px 25px;
  }
  @media screen and (max-width: 768px) {
    padding: 50px 0px;
  }

  .loadBtn {
    @include loadmore;
  }
  .title {
    @include flex(center, flex-start);
    padding: 0px 55px;
    @media screen and (max-width: 768px) {
      padding: 0px 30px;
    }
    .line {
      @include lineStyle;
    }
    .text {
      @include textStyle;
    }
  }
  .card-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 55px;
    margin: 0 auto;
    padding: 40px 50px;
    @media screen and (max-width: 768px) {
      padding: 30px;
      grid-gap: 30px;
    }
    .card {
      position: relative;
      bottom: 0;
      left: 0;
      background-color: #222222;
      width: 100%;
      height: 400px;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
      @include flex(center, center);

      .card-front {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        @include flex(center, center);
        &.front1 {
          h2 {
            margin: 0;
            padding: 0;
          }
        }
        .content {
          width: 100%;
          padding: 0 30px;
          left: 0;
          color: $white;
          .card-h {
            margin: 20px 0;
            .card-p {
              @media screen and (max-width: 768px) {
                font-size: 0.8rem;
              }
            }
          }
          .view-text {
            .view-link {
              text-decoration: none;
              color: $primaryColor;
              h5 {
                margin: 14px 0;
                span {
                  margin-left: 6px;
                  font-size: 16px;
                }
                @media screen and (max-width: 768px) {
                  font-size: 12px;
                  padding: 20px 0;
                }
              }
            }
          }
        }
      }
      .front2,
      .front3,
      .front4,
      .front5 {
        transition: 0.5s;
        h2 {
          margin: 0;
          padding: 0;
          font-size: 2rem;
          color: $white;
          transition: 0.5s;
          z-index: 10;
          text-align: center;
          @media screen and (max-width: 768px) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
          }
        }
      }
      &:hover .card-front.front2,
      &:hover .card-front.front3,
      &:hover .card-front.front4,
      &:hover .card-front.front5 {
        height: 60px;
        cursor: pointer;
        h2 {
          font-size: 2rem;
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
        }
      }

      .card-front.front2 {
        background: linear-gradient(
            rgba(21, 19, 19, 0.761),
            rgba(20, 16, 15, 0.724)
          ),
          url("../../Assets/Paybox-mockup.png");
        @include background;
        border-radius: 15px;
      }
      .card-front.front3 {
        background: linear-gradient(
            rgba(21, 19, 19, 0.715),
            rgba(23, 20, 19, 0.761)
          ),
          url("../../Assets/Unica-mockup.png");
        @include background;
        border-radius: 15px;
      }
      .card-front.front4 {
        background: linear-gradient(
            rgba(21, 19, 19, 0.733),
            rgba(17, 14, 14, 0.728)
          ),
          url("../../Assets/Akinlawon.png");
        @include background;
        border-radius: 15px;
      }
      .card-front.front5 {
        background: linear-gradient(
            rgba(23, 21, 21, 0.731),
            rgba(16, 13, 13, 0.75)
          ),
          url("../../Assets/PresentationInstamovie.png");
        @include background;
        border-radius: 15px;
      }
    } /*card closing div*/
  } /* card container closing div*/
}
