@import "/color";
@import "../../mixins/mixins.scss";

.main-main {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  .pageline-div {
    @include pagelineAnim;
  }
}
.hide {
  overflow: hidden;
}
.main {
  width: 60%;
  height: 100vh;
  background: linear-gradient(#1a1414a2, #1a1414b9),
    url("../../Assets/professionalSmile.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 63%;
  position: fixed;
  right: -12%;
  top: 0%;
  z-index: 9;

  @media screen and (max-width: 1024px) {
    position: relative;
    width: 100%;
    height: 80vh;
    right: 0%;
  }
  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
    height: 100vh;
    right: 0%;
  }
}
.about-content {
  width: 56%;
  height: 100vh;
  color: $white;
  position: relative;
  top: 0;
  z-index: 99;
  padding: 8% 0;
  padding-left: 8%;
  @media screen and (max-width: 1024px) {
    width: 100%;
    right: 0;
    padding: 8% 6%;
    padding-right: 2%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    right: 0;
    padding: 8% 6%;
    padding-right: 2%;
  }

  .small-heading {
    color: $white;
    font-size: 1.4rem;
    @media screen and (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
  .text-content {
    color: $greyText;
    font-size: 1.15rem;
    font-family: Plus Jakarta Sans;
    line-height: 2.5rem;
    letter-spacing: 0.0125rem;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
    .text {
      padding: 10px 0;
      a {
        color: $primaryColor;
      }
    }
  }
  .download {
    display: inline-flex;
    margin: 20px 0;
    cursor: pointer;
    .link {
      font-size: 14px;
      color: $white;
      font-weight: bold;
      text-decoration: none;
      margin-left: 10px;
    }
    img {
      max-width: 10%;
    }
  }
  h2 {
    color: $white;
    margin: 30px 0;
  }
  .right-arrow {
    @include flex(center, flex-start);
    margin: 8px 0;
    p {
      font-size: 11px;
      font-weight: bold;
      margin-left: 5px;
      text-transform: uppercase;
    }
    img {
      width: 6px;
      height: 10px;
    }
  }
  .techs {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    .tech-ul {
      display: flex;
      ul {
        margin-right: 100px;
        color: $grey;
        .tech-h {
          color: $grey;
          margin-bottom: 20px;
        }
      }
    }
  }
}
