@import "/color";
@import "../../mixins/mixins.scss";

.contact-page {
  width: 100%;
  .pageline-div {
    @include pagelineAnim;
  }
  .contact-div {
    @include flex(center, center);
    @include widthandheight(100%, auto);
    gap: 100px;
    padding: 0 14%;
    margin-top: 5%;
    @media screen and (max-width: 1024px) {
      @include widthandheight(100%, 100vh);
      padding: 0 10%;
      gap: 0;
      margin-top: 15%;
      flex-direction: column;
    }
    @media screen and (max-width: 768px) {
      @include widthandheight(100%, 100vh);
      padding: 0 10%;
      gap: 0;
      margin-top: -8%;
      flex-direction: column;
    }

    .contact-text {
      flex: 1;
      @media screen and (max-width: 768px) {
        margin-top: 40%;
      }

      h1 {
        color: $white;
        font-size: 2rem;
        @media screen and (max-width: 768px) {
          font-size: 22px;
        }
      }
      p {
        font-size: 0.9rem;
        color: $greyText;
        margin: 20px 0;
      }
    }
    .contact-form {
      flex: 1;
      //   margin-top: 3%;
      @media screen and (max-width: 1024px) {
        margin-top: -100%;
      }
      @media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        margin-top: -120%;
      }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        margin-top: -80%;
      }

      form {
        .form-div {
          font-size: 0.9rem;
          label {
            display: flex;
            flex-direction: column;
            margin: 15px 0;

            span {
              color: $greyText;
              margin: 5px 0;
            }
            .text-input,
            textarea {
              padding: 25px;
              background-color: $footerBg;
              border: none;
              color: $greyText;
              border-radius: 4px;
              @media screen and (max-width: 1024px) {
                padding: 25px 125px;
              }
              @media screen and (max-width: 768px) {
                width: 100%;
                padding: 25px;
              }
            }
          }
          .contact-btn {
            @include mainButton;
          }
        }
      }
    }
  }
}
