@import "/color";
@import "../../mixins/mixins.scss";

.header {
  @include widthandheight(100%, 100%);
  .header-wrapper {
    top: 25px;
    @include flex(center, space-between);
    padding: 22px 16px;
    .logo-link {
      text-decoration: none;
      z-index: 10;
      .logo-img {
        @include widthandheight(3rem, 3rem);
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid $primaryColor;
        border-bottom: 20px;
        border-left-width: 0;
        border-bottom-width: 20px;
        transform: rotate(-15deg);
        @media screen and (max-width: 768px) {
          max-width: 9%;
        }
      }
    }
    .opens {
      margin-right: 0;
    }
    .menu-btn,
    .social-icons {
      cursor: pointer;
      .line1,
      .line2,
      .line3 {
        position: relative;
        z-index: 999;
        @include widthandheight(25px, 3px);

        background-color: $white;
        margin: 3px 0;
        top: 0px;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
    }
    .navsecondary {
      @include flex(center, center);
      position: relative;
      z-index: 999;
      .locationdiv {
        @include flex(center, center);
        margin: 0 20px;
        p {
          color: $white;
          font-weight: bold;
          font-size: 0.7rem;
        }
        .colordiv {
          @include widthandheight(12px, 12px);

          margin: 0 7px;
          border: 2px solid red;
          border-radius: 50%;
          background-color: rgb(230, 100, 122);
        }
      }
    }
  }
}

.skew-div {
  position: fixed;
  left: 0%;
  top: 0%;
  @include widthandheight(100%, 100vh);
  background-color: $black;
  z-index: 2;
  &:nth-child(2) {
    background-color: $primaryColor;
  }
  &:nth-child(3) {
    background-color: rgba(19, 18, 18, 0.884);
  }
}

.navigation {
  @include widthandheight(100%, 100vh);
  position: absolute;
  z-index: 999;
  top: 0;
  .header-wrapper2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: $white;
    .gmail-text {
      position: absolute;
      right: 4%;
      bottom: 2%;
      a {
        color: $grey;
        writing-mode: vertical-lr;
        font-size: 13px;
        margin: 10px auto;
        letter-spacing: 0.1em;
        text-decoration: none;
        @media screen and (max-width: 768px) {
          display: none;
        }
        &:hover {
          color: $grey;
        }
      }
    }
    .social-icons {
      list-style: none;
      position: absolute;
      z-index: 2;
      left: 2%;
      bottom: 0;
      @media screen and (max-width: 768px) {
        display: none;
      }
      li {
        padding: 2px;
        a {
          display: inline-block;
          img {
            max-width: 80%;
          }
        }
      }
    }
  }
  .nav-items {
    @include widthandheight(100%, 100vh);
    position: absolute;
    @include flex(center, center);
    ul {
      list-style: none;

      .navlinks {
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        text-align: center;
        li {
          margin: 20px 0;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $white;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.open .line1 {
  top: 18px;
  transform: rotate(45deg) translate(-9px, 6px);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  top: -18px;
  transform: rotate(-45deg) translate(2px, -18px);
}
.togglediv {
  display: flex;
  align-items: center;
  color: green;
  font-weight: bold;
}
