$peachprimary: #d7ad9d;
$peachlight: #d9c6c0;
$lightblue: #d0dbf8;
$greyprimary: #c3c3c3;
$white: #ffffff;

@import "../../mixins/mixins.scss";

.skillset {
  @include widthandheight(100%, 100%);

  .pageline-div {
    @include pagelineAnim;
  }
  .skills-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 8%;
    margin-left: 10%;
    @media screen and (max-width: 768px) {
      margin-top: 25%;
    }
    .back {
      @include back(15%);
      font-size: 24px;
    }
    .skill-h1 {
      h2 {
        @include headings(60px);
        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
      .underline {
        @include line(-75px);
      }
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      .skills-heading {
        text-decoration: none;
        .skills-heading-frontend {
          background: linear-gradient(#000000e9, rgba(21, 20, 20, 0.919)),
            url("../../Assets/coding.jpg");
          @include flex(center, center);
          @include skillsBackground;
          border-width: 3px;
          border-style: solid;
          border-image: radial-gradient(
              circle at 100%,
              #de8aad,
              rgb(215, 195, 198),
              #ffffff
            )
            1;
        }
      }
      .skills-heading {
        text-decoration: none;
        .skills-heading-uiux {
          background: linear-gradient(#000000e9, rgba(21, 20, 20, 0.919)),
            url("../../Assets/Paybox-mockup.png");

          @include flex(center, center);
          @include skillsBackground;
          border-width: 3px;
          border-style: solid;
          border-image: linear-gradient(
              to right,
              rgb(215, 195, 198),
              #de8aad,
              #ffffff
            )
            1;
        }
      }
      .skills-heading {
        text-decoration: none;
        .skills-heading-techwriting {
          background: linear-gradient(#000000e9, rgba(21, 20, 20, 0.919)),
            url("../../Assets/techwriting.jpg");
          @include flex(center, center);
          @include skillsBackground;
          border-width: 3px;
          border-style: solid;
          border-image: linear-gradient(
              to left,
              rgb(215, 195, 198),
              #de8aad,
              #ffffff
            )
            1;
        }
      }
      .frontend,
      .uiux,
      .wordpress {
        text-align: left;
        margin-right: 30px;
        @media screen and (max-width: 768px) {
          margin-bottom: 25px;
        }
        h2 {
          color: $white;
          font-size: 21px;
          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
        }
        .skill-link {
          text-decoration: none;
          font-weight: bold;
          color: $primaryColor;
          text-align: center;
          p {
            font-size: 24px;
          }
        }
      }
    }
  }
}
