@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");
@import "../../mixins/mixins.scss";
@import "../../../color";

.main-footer {
  background-color: $footerBg;
  margin-top: 105px;

  .footer-t {
    padding: 20px 0;
    p {
      width: 100%;
      color: $footerText;
      font-size: 0.9rem;
      text-align: center;
      @media screen and (max-width: 768px) {
        margin-right: 75px;
        font-size: 0.6rem;
      }
    }
  }
}
