@import "/color";

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin widthandheight($width, $height) {
  width: $width;
  height: $height;
}
@mixin back($top) {
  position: absolute;
  right: 5%;
  top: $top;
  font-size: 14px;
  color: $primaryColor;
  @media screen and (max-width: 768px) {
    top: 17%;
  }
}

@mixin line($top) {
  width: 70px;
  height: 4px;
  background-color: $grey;
  top: $top;
  position: relative;
}

@mixin headings($margin-bottom) {
  color: $white;
  text-align: left;
  margin-bottom: $margin-bottom;
  font-size: 1.8rem;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
@mixin skillsBackground {
  color: $white;
  width: 23rem;
  height: 13rem;
  font-size: 1.1rem;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
@mixin mainButton {
  padding: 22px 18px;
  margin: 25px 0;
  font-weight: bold;
  background-color: $primaryColor;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $white;
  }
}
@mixin textGradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: gradient 3s alternate infinite;
}
@mixin pagelineAnim {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-color: $footerBg;
  z-index: 2;
  &:nth-child(2) {
    background-color: $bgDarkColor;
  }
  &:nth-child(3) {
    background-color: $bgLightColor;
  }
}

@mixin loadmore {
  float: right;
  margin: 0% 10% 2% 0;
  cursor: pointer;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
