$peachprimary: #D7AD9D;
$peachlight: #D9C6C0;
$lightblue: #D0DBF8;
$greyprimary: #C3C3C3;
$white: #ffffff;

  @mixin flex($align,$justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
@mixin background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
@mixin widthandheight{
    width: 100%;
    height: 100vh;
}
@mixin back($top) {
    position: absolute;
    right: 5%;
    top: $top;
    font-size: 14px;
    color: $peachlight;
    @media screen and (max-width:768px) {
        top: 17%;
     } 
}

@mixin line($top){
    width: 70px;
    height: 4px;
    background-color: $greyprimary;
    top: $top;
    position: relative;
}

@mixin headings($margin-bottom){
    color: $peachprimary;
    text-align: left;
    margin-bottom: $margin-bottom;
    font-size: 36px;  
    @media screen and (max-width: 768px) {
        font-size: 28px;
    }
}