
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Montserrat:wght@800&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
.hero-h1, .herotext h3, .project-h1{
    font-family: 'Laila', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2px;
}
.small-h{
    font-family: 'Peralta', cursive;
    margin: 0 10px;
 }