@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@import "./mixins/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  @include widthandheight(100%, 100%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.hero-h1,
.herotext-h3,
span,
.project-h1,
div {
  font-family: "Plus Jakarta Sans", sans-serif;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
.small-h {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 10px;
}
.talk {
  font-family: "Plus Jakarta Sans", sans-serif;
}

//SCROLLBAR STYLES

::-webkit-scrollbar {
  @include widthandheight(5px, 5px);
}
::-webkit-scrollbar-track {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background-color: #d7ad9d;
  border-radius: 15px;
  border: 2px solid white;
}
